<template name="WorkspaceView">
	<div class="workspaceWrapper">
        {{> workspaceTopbar }}
        {{> workspaceItems }}
        {{> workspaceMain }}
		<!-- <pre>workflowContext = {{workflowContext}}</pre> -->
	</div>
</template>


<template name="workspaceTopbar">
    <div class="workspaceTopbar">
        <div class="align-left">
            <div class="logo"></div>
            <div class="title">eApproval Workspace</div>
        </div>
        <div class="align-right">
            <div class="createBtn"><i class="fa fa-plus-square-o"></i>Create Request</div>
            <div class="userView"><i class="fa fa-user"></i>User: {{loggedUser}}</div>
            <div class="logout">Logout<i class="fa fa-power-off"></i></div>
        </div>
    </div>
</template>


<template name="workspaceItems">
    <div class="workspaceItems">
        <div class="item active"><i class="fa fa-folder-open-o"></i>Task List</div>
        <div class="item"><i class="fa fa-search"></i>Search</div>
    </div>
</template>


<template name="workspaceMain">
    <div class="workspaceMain">
        <section class="sidebar">
            <header class="titleItem"><i class="fa fa-list-ul"></i>Views</header>
            <div class="spacer"></div>
            <div class="sideView">
                <div class="inbox block">
                    <h1>Inbox</h1>
                    <li class="active">My tasks ({{taskCount}})</li>
                    <li>Initiated Task</li>
                    <li>Administrative Task</li>
                </div>
                <div class="spacer"></div>
                <div class="views block">
                    <h1>Views</h1>
                    <li>Due Soon</li>
                    <li>High Priority</li>
                    <li>Past Day</li>
                    <li>Past Week</li>
                    <li>Past Month</li>
                    <li>Past Quarter</li>
                    <li>News Tasks</li>
                </div>
            </div>
        </section>
        <section class="aside">
            <div class="worklistToolbar">
                <div class="item search">
                    <form class="pure-form">
                        <input name="searchInput" type="text">
                        <div class="searchBtn"><i class="fa fa-search"></i></div>
                    </form>
                </div>
                <div class="spacer item"></div>
                <div class="align-right">
                    <i class="fa fa-refresh refreshIcon"></i>
                </div>
            </div>
            <div class="worklist">
                <table class="pure-table tasklist">
                    <thead>
                        <tr>
                            <th style="width: 50%">TaskId</th>
                            <th>Number Creator</th>
                            <th>Assigned</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each tasks}}
                            <tr>
                                <td>{{title}}</td>
                                <td>{{taskNumber}}</td>
                                <td>{{assignedDate}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="humantaskForm">
                    {{> formView}}
                </div>
            </div>
        </section>
    </div>
</template>

<template name="formView">
    {{#if $exists title}}
        <div class="formViewWrapper">
            <header>
                <h3>{{title}}</h3>
                <button class="pure-button button-xsmall">Approve</button>
                <button class="pure-button button-xsmall">Minor change</button>
                <button class="pure-button button-xsmall">Formal change</button>
                <button class="pure-button button-xsmall">Substantial change</button>
            </header>
            <form class="pure-form pure-form-stacked">
                {{#with categories}}
                    {{#each this}}
                        {{> category}}
                    {{/each}}
                {{/with}}
            </form> 
        </div>
    {{/if}}
</template>

<template name="category">
    <fieldset>
        <legend>{{name}}</legend>
        <div class="pure-g">
            {{#with fields}}
                {{#each this}}
                    {{> field}}
                {{/each}}
            {{/with}}
        </div>
    </fieldset>
</template>

<template name="field">
    <div class="pure-u-1-2">
        <label for="{{label}}">{{label}}</label>
        {{#if $in fieldType "text" "datetime"}}
            <input type="text" value={{value}}>
        {{/if}}
        {{#if $eq fieldType "multiline"}}
            <textarea>{{value}}</textarea>
        {{/if}}
        {{#if $eq fieldType "checkbox"}}
            <input type="text" value={{value}}>
        {{/if}}
        {{#if $eq fieldType "lov"}}
            <select type="text" value={{value}}>
                {{#each validValues}}
                    <option value={{value}}>{{id}}</option>
                {{/each}}
            </select>
        {{/if}}
    </div>
</template>
